{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

}

ul,
ol {
    list-style-type: none;
}

.clr {
    clear: both;
}

/*all common css end */

.menu {
    width: 100%;
    background: #4c27b1;
    margin: 0 auto;
    text-align: center;

}

.menu ul li {
    display: inline-block;
    position: relative
}

.menu ul li a {
    padding: 0 15px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    line-height: 60px;
    transition: all linear .6s;
}

.menu ul li a:hover {
    background: #ddbe16;
    display: block;

}

.menu ul li ul {
    position: absolute;
    background:#4c27b1;
    width: 160px;
    opacity: 0;
    transition: all linear .6s;
    transform: scaleY(0)
}

}

.menu ul li ul li {
    width: 100%;
}


.menu ul li:hover > ul {
    opacity: 1;
    transform: scaleY(1);
}



.banner {
    background: url(../css/image/laptp/home-office-336373.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;

    margin: 0 auto;


}

.overly {
    background: rgba(33, 84, 199, 0.33);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

}

p {
    color: aliceblue;
}

h1 {
    color: aliceblue;
}


.one {
    height: 300px;
    width: 100%;
    background: #fff;
 
}

.one-1 {
    height: 300px;
    width: 35%;
   
    float: left;
    position: relative;
}

.one-2 {
    height: 300px;
    width: 35%;

    float: left;
}

.one-3 {
    height: 300px;
    width: 30%;

    float: left;
   
}

.two{
    height: 200px;
    width: 100%;
    background: #4c27b1;
}

h2{
    color: aliceblue;
}


.two-1 {
    height: 200px;
    width: 35%;
   
    float: left;
    position: relative;
}

.two-2 {
    height: 200px;
    width: 35%;

    float: left;
}

.two-3 {
    height: 200px;
    width: 100%;

    float: left;
   





















